AWS_REGION=us-east-1
S3_BUCKET=s3-market-mood-agent-us-east-1
BEDROCK_TEXT_MODEL_ID=amazon.nova-lite-v1:0
BEDROCK_IMAGE_MODEL_ID=stability.stable-image-core-v1:1
BEDROCK_IMAGE_REGION=us-west-2
TARGET_TICKERS=SPY

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=STOCKS_MMA_DB
SNOWFLAKE_SCHEMA=STOCKS_MMA_SCHEMA
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
